<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Modified</th>
    <th>Actions</th>
  </tr>
<% @files.each do |filename| %>

  <tr>
    <td><%= File.basename(filename) %></td>
    <td><%= file_size(File.size(filename)) %></td>
    <td><%= File.atime(filename) %></td>
    <td>
      <a href="">Import</a>
      <a href="">Watch</a>
    </td>
  </tr>

<% end %>
</table>
